<title>Form</title>
<!-- Main-Form style CSS -->
<link rel="stylesheet" href="/asset/css/style_form.css">
<!-- Form header begin -->
<section class="form-header">
	<div class="form-header--container container">
		<div class="row justify-content-between align-items-center">
			<div class="form-header--info row align-items-center">
				<div class="logo form-header--item">
					<a href="/form">
						<span>EZ</span>form
					</a>
				</div>
				<div class="form-title form-header--item">
					<h3>Blank Form</h3>
				</div>
			</div>
			<div class="form-header--submit row">
				<div class="form-header--item btn-preview-form hover-in-shadow ">
					<i class="far fa-eye"></i>
				</div>
				<div class="btn-send form-header--item outer-shadow hover-in-shadow">
					<a href="#">Send</a>
				</div>
				<div class="user-avata form-header--item">
					<img src="/asset/img/user/user-avt-main.png" alt="">
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-content--views">
				<div class="view--options">
					<div class="view--question view--options-item active">
						<span>Questions</span>
					</div>
					<div class="view--response view--options-item">
						<span>Responses</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Form header end -->

<!-- Form body--question begin -->
<section class="form-body container">
	<div class="form-body--questions container-m">
		<!-- Form-body navigation -->
		<div class="form-question--nav outer-shadow">
			<div class="add-personal-info">
				<i class="fas fa-user-plus"></i>
			</div>
			<div class="add-title">
				<i class="fas fa-align-justify"></i>
			</div>
			<div class="add-description">
				<i class="fas fa-indent"></i>
			</div>
			<div class="add-input">
				<i class="fas fa-stream"></i>
			</div>
			<div class="add-radio">
				<i class="far fa-check-circle"></i>
			</div>
			<div class="add-checkbox">
				<i class="fas fa-check-square"></i>
			</div>
			<div class="question-nav-item add-dropDown">
				<i class="far fa-caret-square-down"></i>
			</div>
		</div>

		<!-- Form-body body -->
		<div class="form-question--container">
			<form method="POST">
				{{#renderForm currentForm}}
				{{/renderForm}}
			</form>
		</div>
	</div>
	<!-- Form body--response begin -->
	<div class="form-body-responses container-m outer-shadow hide">
		<div class="report-items row justify-content-center">
			<!-- report Item--0 begin -->
			<div class="report-item">
				<div class="report-item-inner outer-shadow">
					<div class="report-item-img">
						<img src="/asset/img/dashboard/userForm-img.svg" alt="portfolio image" data-screenshots="/asset/img/dashboard/User-form-img.svg">
						<span class="view-report">view report</span>
					</div>
					<p class="report-item-title">User report #0</p>
				</div>
			</div>
			<!-- report Item--0 end -->

			<!-- report Item--1 begin -->
			<div class="report-item">
				<div class="report-item-inner outer-shadow">
					<div class="report-item-img">
						<img src="/asset/img/dashboard/userForm-img.svg" alt="portfolio image" data-screenshots="/asset/img/dashboard/User-form-img.svg">
						<span class="view-report">view report</span>
					</div>
					<p class="report-item-title">User report #1</p>
				</div>
			</div>
			<!-- report Item--1 end -->

			<!-- report Item--2 begin -->
			<div class="report-item">
				<div class="report-item-inner outer-shadow">
					<div class="report-item-img">
						<img src="/asset/img/dashboard/userForm-img.svg" alt="portfolio image" data-screenshots="/asset/img/dashboard/User-form-img.svg">
						<span class="view-report">view report</span>
					</div>
					<p class="report-item-title">User report #2</p>
				</div>
			</div>
			<!-- report Item--2 end -->

			<!-- report Item--3 begin -->
			<div class="report-item">
				<div class="report-item-inner outer-shadow">
					<div class="report-item-img">
						<img src="/asset/img/dashboard/userForm-img.svg" alt="portfolio image" data-screenshots="/asset/img/dashboard/User-form-img.svg">
						<span class="view-report">view report</span>
					</div>
					<p class="report-item-title">User report #3</p>
				</div>
			</div>
			<!-- report Item--3 end -->

			<!-- report Item--4 begin -->
			<div class="report-item">
				<div class="report-item-inner outer-shadow">
					<div class="report-item-img">
						<img src="/asset/img/dashboard/userForm-img.svg" alt="portfolio image" data-screenshots="/asset/img/dashboard/User-form-img.svg">
						<span class="view-report">view report</span>
					</div>
					<p class="report-item-title">User report #4</p>
				</div>
			</div>
			<!-- report Item--4 end -->

		</div>
	</div>
	<!-- Form body--response end -->
</section>

<!-- Send Form popup begin -->
<section class="form-sending-popup">
	<div class="sending-popup--container">
		<div class="sending-popup--header row justify-content-between">
			<div class="sending-popup--text">
				<h3>Send form</h3>
			</div>
			<div class="sending-popup--close-btn">&times;</div>
		</div>
		<div class="section--endline--inner"></div>
		<div class="sending-popup--body">
			<h4>Link <span class="fas fa-link"></span></h4>
			<input onClick="this.setSelectionRange(0, this.value.length)" class="link-sendForm" type="url" readonly>
		</div>
		<div class="sending-popup--footer">
			<button class="sending-popup--copyLink outer-shadow hover-in-shadow">Copy</button>
		</div>
	</div>
</section>
<!-- Send Form popup end -->

<!-- Script file -->
<script src="/asset/js/createForm.js"></script>